<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.binaryparadox.kerplapp"
    android:versionCode="1"
    android:versionName="0.1" >

    <uses-sdk
        android:minSdkVersion="5"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NFC" />

    <application
        android:name=".KerplappApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name=".KerplappActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AppSelectActivity"
            android:label="@string/title_activity_app_select"
            android:parentActivityName=".KerplappActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".KerplappActivity" />
        </activity>
        <activity android:name=".SettingsActivity" />
        <activity android:name=".QrWizardDownloadActivity" />
        <activity android:name=".QrWizardWifiNetworkActivity" />
    </application>

</manifest>
